#example config file

#Lines starting with # are ignored so feel free to comment
#Extra lines are ignored so fell free to format

#This command is how the simulation is run we only support command line 
# parameter arguments for now. X marks a parameter to be optimized

# first the name of the parameter optimization run, to be used for log files and folders
Name:
ExampleSimulation

Simulation:
#bash command to run simulation
./mySimulation param1 param2 X0 param3 X1 param4 X2
#matlab -nojvm -batch TestMatlabScript X0 X1 X2

Parameters:
X0: 1
X1: 2.2
X2: -2

Data:
#simulationOutputFile1 targetfile1
#paths are relative to when command is run
datafile1.txt targetfile1.txt
datafile2.txt targetfile2.txt


Runs on:
Desktop
#HPCC 1

Method:
L-BFGS-B
#
#


